[submodule "lib/depthai-core"]
	path = lib/depthai-core
	url = https://github.com/luxonis/depthai-core.git
[submodule "lib/quill"]
	path = lib/quill
	url = https://github.com/odygrd/quill.git
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "lib/flatbuffers"]
	path = lib/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/ImTerm"]
	path = lib/ImTerm
	url = https://github.com/Organic-Code/ImTerm.git
[submodule "lib/netImgui"]
	path = lib/netImgui
	url = https://github.com/sammyfreg/netImgui.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "runnable/lib/Reticulum"]
	path = runnable/lib/Reticulum
	url = https://github.com/markqvist/Reticulum.git
[submodule "lib/eventbus"]
	path = lib/eventbus
	url = https://github.com/gelldur/EventBus.git
